<header>
  <div class="logo">
    <%= link_to 'MyFi', root_path %>
  </div>
  
  <nav>
    <ul class='nav-links'>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
</header>